<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="assets/images/logo-no-background.svg" style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Benvingut a Vehicar Rentals!</h4>
                  </div>
  
                  <form action="POST" #formData="ngForm" (ngSubmit)="alquiler()">
                    <p>Insereix els següents camps per a poder llogar un vehicle</p>
  
                    <div class="form-outline mb-4">
                      <input type="email" [(ngModel)]="email_usuario" name="email_usuario" id="form2Example11" class="form-control"
                        placeholder="Correu electrònic" />
                      <label class="form-label" for="form2Example11">Correu electrònic</label>
                    </div>
    
                    <div class="form-outline mb-4">
                      <select  id="form2Example11" class="form-control">
                        <!-- <input type="email" [(ngModel)]="coche_alquilado" name="coche_alquilado" id="form2Example11" class="form-control"
                          placeholder="Vehicle a llogar" /> -->
                          <option *ngFor="let car of cars" [value]="car.id">{{ car.marca}} {{car.modelo}}</option>
                      </select>
                      <label class="form-label" for="form2Example11">Vehicle a llogar</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="date" [(ngModel)]="fecha_inicio_alquiler" name="fecha_inicio_alquiler" id="form2Example11" class="form-control"
                          placeholder="Data inici de lloguer" />
                        <label class="form-label" for="form2Example11">Data inici de lloguer</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="date" [(ngModel)]="fecha_fin_alquiler" name="fecha_fin_alquiler" id="form2Example11" class="form-control"
                          placeholder="Data final de lloguer" />
                        <label class="form-label" for="form2Example11">Data final de lloguer</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="number" [(ngModel)]="precio_alquiler" name="precio_alquiler" id="form2Example11" class="form-control"
                          placeholder="Preu del lloguer" />
                        <label class="form-label" for="form2Example11">Preu del lloguer</label>
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                            type="submit">Registrar-me</button><br>
                    </div>
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">We are more than just a company</h4>
                  <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>